.logo{
    width: 60px;    
}
.navBar{
    display: flex;
    justify-content: space-between;
}
.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* padding: 10px; */
}
.item{
    padding: 10px;
}
.footer--copyright{
    
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    height: 40px;
    text-align: center;
   
}
